body{
    overflow-x:hidden
}

button {
    background-color: #a5cd39;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;

}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #3e8e41;
}

.contradiction-table {
  background-color: #e1e3a1
}


/* Styling for the data table */
.contradiction-table {
    width: 100%;
}

.contradiction-table th,
.contradiction-table td {
    border: 1px solid #443939;
    text-align: center;
    padding: 10px;
}

.contradiction-table th {
    color: white;
    border-color :#8db609;
    background-color: #3a3c2d;
    font-weight: bold;
    text-align: center;

}

/* Hover effect */
.contradiction-table tbody tr:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

/* Click effect */
.contradiction-table tbody tr:active {
    background-color: #e6e6e6;
}

/* Additional styles */
.contradiction-table thead {
    background-color: #e3e3e3;
}

.contradiction-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}




.diagram-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.scrollable-container {
    height: 100vh;
    width: 96%;
    margin-left: 2%;
    background-color: #fefdf3;
    /* Adjust the height as needed */
    overflow-y: auto;
}

/* Rest of your CSS styles */



.buttons-box{
    display: flex;
    justify-content: space-between;
}
.update-button {
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
}


/* progress */
.progress-bar {
    width: 100%;
    height: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar-value {
    text-align: center;
    height: 100%;
    background-color: #a5cd39;
    transition: width 0.3s ease-in-out;
}











.background_gif {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: #1d0101 url(https://cutewallpaper.org/21/matrix-background-gif/Free-Binary-Code-4K-Long-Loop-Screensaver-GIF.gif) center center/auto repeat;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}




::-webkit-scrollbar {
    width: 7px;
    height: 11px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #eaec5a;
    background-color: #e7f8d0;
    border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #a5cd39;
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #499b01;
}